  .Btnn {
      display: flex;
      height: 3em;
      width: 100px;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      margin-left: 10px;
      background-color: #eeeeee4b;
      border-radius: 5px;
      letter-spacing: 1px;
      transition: all 0.2s linear;
      cursor: pointer;
      border: none;
      background: #ffffff;
    }
  
  .Btnn > .Btnn svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
  }
  
  .Btnn:hover > .Btnn svg {
    font-size: 1.2em;
    transform: translateX(-5px);
  }
  
  .Btnn:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
  }
  
  .featured-car {
    margin-top: 50px;
  }

  
  